* {
  margin: 0;
  padding: 0;
  font-family: "Madimi One", sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: aliceblue;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url("img/edited.jpg");
  background-size: cover;
  background-position: center;
  background-color: #ccc;
}
.container {
  padding: 10px, 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
h1 {
  font-size: 30px;
  font-family: "Courier New";
  color: #f26b5c;
}
h1 em {
  color: #f26b5c;
}
strong {
  color: #f26b5c;
}
nav ul li {
  font-family: "Montserrat Subrayada", sans-serif;
  display: inline;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: aliceblue;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #f26b5c;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 20px;
  font-size: 30px;
}
.header-text h2 {
  font-size: 60px;
  margin-top: 20px;
}
/*-------about me--------*/
#about {
  padding: 80px 0;
  color: #ababab;
}
.container h1 {
  color: antiquewhite;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
}
.selfIntrodaction {
  display: flex;
  justify-content: space-between;
}
.profilePic {
  flex-basis: 35%;
}
.profilePic img {
  width: 100%;
  border-radius: 15px;
}
.introText {
  flex-basis: 60%;
}
.introduction {
  font-size: 60px;
  font-weight: 600;
  color: #485d26;
}
.moreInfo {
  display: flex;
  margin: 20px 0 40px;
}
.infoLink {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
.infoLink::after {
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  position: absolute;
  bottom: -8px;
  background: #485d26;
  transition: 0.5s;
}
.infoLink.active-link::after {
  width: 70%;
}
.infoContents ul li {
  list-style: none;
  margin: 10px 0;
}
.infoContents ul li span {
  color: #485d26;
  font-size: 14px;
}
.infoContents {
  display: none;
}
.infoContents.activeContents {
  display: block;
}
/*-------Achievements--------*/
#achievements {
  padding: 20px 0;
}
.Achievementsh2 {
  color: antiquewhite;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.AchievementsBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 4rem;
  margin-top: 5rem;
}
.certificate {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.certificate img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  transition: transform 0.5s;
}
.text {
  width: 100%;
  height: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), #f26b5c);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  transition: height 0.5s ease;
}
.text .heading {
  font-weight: 600;
  margin-bottom: 20px;
}
.text p {
  font-weight: 400;
}
.certificate:hover img {
  transform: scale(1.1);
}
.certificate:hover .text {
  height: 100%;
}
.button {
  display: block;
  margin: 50px auto;
  color: white;
  width: fit-content;
  border: 1px solid #f26b5c;
  line-height: 38px;
  padding: 14px 50px;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.5s;
}
.button:hover {
  background: #f26b5c;
}
/*-------project--------*/
#project {
  padding: 50px 0;
}
.project h1 {
  margin-bottom: 64px;
  color: antiquewhite;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
.projectContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 4rem;
  margin-top: 5rem;
}
.projectBox {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.projectBox img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  display: block;
  margin: 10px auto;
  transition: transform 0.5s;
}
.projectLayer {
  width: 100%;
  height: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), #f26b5c);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  transition: height 0.5s ease;
}
.projectBox:hover img {
  transform: scale(1.1);
}
.projectBox:hover .projectLayer {
  height: 100%;
}
.projectLayer h3 {
  font-weight: 700;
  margin-bottom: 20px;
}
.projectLayer p {
  font-size: 15px;
}
/*-------contact--------*/

.contactBar {
  display: flex;
}
.contact-info {
  flex-basis: 35%;
}
.picture {
  flex-basis: 40%;
}
.picture img {
  max-width: 80%;
  border-radius: 30px;
}
.contact h2 {
  margin-top: 30px;
  color: antiquewhite;

  font-size: 60px;
  font-weight: 600;
}
.contact p {
  margin-top: 30px;
}
.contact p i {
  color: #f26b5c;
  font-size: 25px;
  margin-right: 15px;
}
.socialMedia {
  margin-top: 30px;
}
.socialMedia a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #f26b5c;
  display: inline-block;
  transition: all 0.3s ease;
}
.socialMedia a:hover {
  color: white;
  transform: translateY(-5px);
}
.button {
  text-decoration: none;
  padding: 14px 50px;
  margin: 20px auto;
  border: 1px solid #f26b5c;
  border-radius: 6px;
  color: aliceblue;
  transition: background-color 0.5s;
}
.button:hover {
  background: #f26b5c;
}
